* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#loading {
    position: fixed;
    z-index: 999999999;
    background-color:rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    display: none;
}

#loading.focused {
    display: block;
}

#loading #loading_icon {
    color: #fff;
    font-size: 50px;
}

.content {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--data-bg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: bg-change;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    image-rendering: auto;
    padding: 1rem;
    overflow: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.card-user-margin-top {
    margin-top: 6rem;
}

.card-user {
    background-color: #fff;
    width: 650px;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 35px 3px rgba(0,0,0,0.5);
}

.card-user .card-user-avatar {
    background-image: var(--data-avatar);
    width: 220px;
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 4px solid transparent;
    margin-top: -6rem;
    cursor: pointer;
    box-shadow: 0 0 35px 3px var(--data-box-shadow-color);
    border: 10px solid var(--data-border-color);
}

.card-user .card-content {
    padding: 1.5rem;
}

.card-user .card-title {
    text-align: center;
    font-size: 35px;
    background-color: var(--data-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
}

.card-user .card-title .card-title-tick {
    display: inline-block;
    font-size: 20px;
    background-color: var(--data-bg);
    color: var(--data-text-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: -5px;
    cursor: pointer;
}

.card-user .card-title .card-title-tick .tooltip {
    display: none;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    width: 100px;
    height: 35px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    border-radius: 3px;
    cursor: auto;
    top: -36px;
    left: 20px;
    border-bottom-left-radius: 0;
    transition: display 0.5s 0.3s, opacity 0.5s 0.3s;
}

.card-user .card-title .card-title-tick .tooltip .tooltip-text {
    display: block;
    position: relative;
    top: 10px;
    pointer-events: none;
}

.card-user .card-title .card-title-tick:hover .tooltip {
    display: block;
}

.card-user .card-title .card-title-tick .icon {
    margin-top: 5px;
}

.card-user .card-text-center {
    text-align: center;
}

.card-user .card-text-custom {
    font-size: var(--custom-font-size);
    font-weight: var(--custom-font-weight);
}

.card-user .card-intro {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.card-user .card-intro .card-text-intro {
    font-size: 20px;
    font-weight: 500;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card-user .card-intro .card-text-intro .icon {
    font-size: 25px;
    margin-right: 0.2rem;
    color: #dc3545;
}

.card-user .card-mxh {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card-user .card-mxh .card-mxh-button {
    color: #000;
    border: 1px solid #eceaea;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s, box-shadow 0.3s;
    background-color: #fff;
    cursor: pointer;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.card-user .card-mxh .card-mxh-button.custom {
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
    color: var(--btn-text-color);
}

.card-user .card-mxh .card-mxh-button > .tooltip {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    margin-top: -4.1rem;
    margin-left: 2.5rem;
    width: 100px;
    height: 30px;
    cursor: auto;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    display: none;
}

.card-user .card-mxh .card-mxh-button > .tooltip .tooltip-text {
    position: relative;
    top: 0.5rem;
}

.card-user .card-mxh .card-mxh-button:hover {
    opacity: 0.8;
}

.card-user .card-mxh .card-mxh-button:hover > .tooltip {
    display: block;
}

.card-user .card-mxh .card-mxh-button:focus {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
}

.card-user .card-mxh .card-mxh-button.custom:focus {
    box-shadow: 0 0 5px 2px var(--btn-box-shadow-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
}

@keyframes bg-change {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }

}

@media (max-width:700px) {
    .card-user {
        width: 100%;
    }

    .card-user .card-intro {
        flex-direction: column;
    }

    .card-user .card-intro .card-text-intro {
        text-align: center;
        margin-top: 1.5rem;
    }
}